<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Data Uploader</title>
    <style>
      body {
        text-align: center;
        color: green;
        font-size: 1.2em;
      }

      .recording {
        color: red;
        background-color: rgb(241 211 211);
        padding: 5px;
        margin: 6px auto;
        width: fit-content;
      }

      video {
        background-color: black;
        display: block;
        margin: 6px auto;
        width: 420px;
        height: 240px;
      }

      a {
        color: green;
      }

      #vid-recorder {
        display: block;
      }
    </style>
  </head>

  <body>
    <h1>Video Data Uploader</h1>

    <div id="vid-recorder">
      <h3>비디오 녹화</h3>
      <video autoplay id="web-cam-container" style="background-color: black">브라우저가 video 태그를 지원하지 않음.</video>

      <div class="recording" id="vid-record-status">녹화를 시작하려면 "녹화 시작" 버튼을 눌러주세요.</div>

      <button
        type="button"
        id="start-vid-recording"
        onclick="startRecording(this, 
            document.getElementById('stop-vid-recording'))"
      >
        녹화 시작
      </button>

      <button
        type="button"
        id="stop-vid-recording"
        disabled
        onclick="stopRecording(this, 
            document.getElementById('start-vid-recording'))"
      >
        녹화 중지
      </button>

      <!-- The below link will let the
             users download the recorded video -->
      <!-- <a href="" > Download it! </a> -->
    </div>

    <script>
      const mediaSelector = document.getElementById("media");
      const webCamContainer = document.getElementById("web-cam-container");
      let chunks = [];

      const videoMediaConstraints = {
        video: {
          facingMode: "environment", // 후면
          width: { ideal: 1280 },
          height: { ideal: 720 },
        },
        audio: false,
      };

      function startRecording(thisButton, otherButton) {
        navigator.mediaDevices.getUserMedia(videoMediaConstraints).then((mediaStream) => {
          const mediaRecorder = new MediaRecorder(mediaStream);
          window.mediaStream = mediaStream;
          window.mediaRecorder = mediaRecorder;

          mediaRecorder.start();

          mediaRecorder.ondataavailable = (e) => {
            chunks.push(e.data);
          };

          mediaRecorder.onstop = () => {
            const blob = new Blob(chunks, {
              type: "video/mp4",
            });
            chunks = [];

            const recordedMedia = document.createElement("video");
            recordedMedia.controls = true;

            // blob을 url로 한번 가공해야 소스로 사용 가능
            const recordedMediaURL = URL.createObjectURL(blob);
            recordedMedia.src = recordedMediaURL;

            const downloadButton = document.createElement("a");
            downloadButton.download = "Recorded-Media";
            downloadButton.href = recordedMediaURL;
            downloadButton.innerText = "다운로드";
            downloadButton.onclick = () => {
              URL.revokeObjectURL(recordedMedia); // 메모리 누수 방지
            };

            document.getElementById("vid-recorder").append(recordedMedia, downloadButton);
          };

          webCamContainer.srcObject = mediaStream;

          document.getElementById("vid-record-status").innerText = "Recording";

          thisButton.disabled = true;
          otherButton.disabled = false;
        });
      }

      function stopRecording(thisButton, otherButton) {
        window.mediaRecorder.stop();
        window.mediaStream.getTracks().forEach((track) => {
          track.stop();
        });

        document.getElementById(`vid-record-status`).innerText = "Recording done!";
        thisButton.disabled = true;
        otherButton.disabled = false;
      }
    </script>
  </body>
</html>
